* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./imagens/pag_01_fundo.jpg);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    color: white;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    margin: 50px;
}

h1 {
    font-size: 50px;
    padding: 10px;
}

h2 {
    font-size: 35px;
    padding: 10px;
}

img {
    width: 250px;
}

img:hover {
    width: 280px;
}

.imagens {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.texto {
    color: white;
    margin: 0 10%;
}

.texto h1 {
    text-align: center      ;
}

.texto p {
    text-align: justify;
    font-size: 30px;
}

.texto img {
    float: left;
    gap: 10px;
    width: 40%;
}

section {
    margin-top: 100px;
}

.menu {
    text-align: center;
    margin-right: 90%;
    
}

.home {
    color: white;
    display: flex;
    flex-direction: column;
}

.menu img {
    margin-left: 10px;
}

.home img {
    width: 35px;
}

.botaodokong {
    margin-left: 200px;
}